@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {

    font-size: 62.5%;

}

* {

    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.logo {
    width: 118.5px;
    height: 45.66px;

    cursor: pointer;
}

/* HEADER*/
header {


    background-color: #f5f5f5;
}

.header-pc {
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-pc nav a {

    text-decoration: none;
    color: #6A6A7C;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 20px;

}

nav a:hover {

    text-decoration: underline 3px #7469AB;

}


.logo {

    height: 70%;

}

#texto {

    outline: 0;
    background: none;
    border-style: none;
    position: relative;
    top: 3px;
    left: 30px;
    width: 80%;

}

.input-conteiner {

    background-color: #D6D6D6;
    border-radius: 20px;
    height: 3rem;
    width: 30rem;

}

.conteiner-bt {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.conteiner-bt img {


    width: 30px;


}

.conteiner-bt a {


    text-decoration: none;
    color: black;
    font-size: 1.2rem;

}

.per {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*-------------------------------header-mobile-------------------------------------*/


.header-mobile {

    display: flex;
    flex-direction: column;

    display: none;

}

/*-------------------------------@media-------------------------------------*/
@media (min-width:768px) and (max-width:1045px) {

    html {
        font-size: 50%;
    }

    .header-pc nav a {
        margin-left: 1px;

    }
}

@media (min-width:763px) and (max-width:803px) {



    .input-conteiner {


        width: 20rem;
    }

}

@media (max-width:767px) {


    html {

        font-size: 40%;
    }

    header {

        padding-bottom: 10px;

    }

    .header-pc {

        display: none;
    }

    .header-mobile {

        display: block;
    }

    .row1 {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {

        margin-top: 2%;
        margin-left: 5%;
        width: 150px;

    }

    .row2 {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }

    #texto {

        width: 80%;
    }

    .input-conteiner {

        width: 70%;
        padding: 10px 0;
    }

    .menu_icon_mobile {

        background-color: gray;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-right: 10%;

    }

    @media (max-width:528px) {

        .header-pc {
            display: none;
        }
    }

}


/*------------------------------------------------------------------------------------------*/
body {

    background-image: url(fundo.png);
    background-repeat: no-repeat;
    background: cover;
    background-size: 220vh;



}

main {

    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}

main h1 {

    font-weight: 700;
    font-size: 4.5rem;
    color: white;
    margin-top: 10%;
}

main p {

    font-weight: 400;
    font-size: 3rem;

}


main p span {

    color: #7469AB;

}

.conteiner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 256px;
    height: 309px;
    background-color: #f5f5f5;
    padding: 12%;
    border-radius: 30px;
}

.conteiner button {

    width: 276px;
    height: 42px;
    padding: 10px;
    background-color: #252525;
    border: 1px solid #000000;
    border-radius: 50px;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 20px;
}

/*--------------------------------------------*/
.menu_icon_mobile {

    display: none;

}

.menu_mobile {
    display: none;
}

/*--------------------------------------------*/

@media (min-width:768px) and (max-width:1045px) {

    html {
        font-size: 50%;
    }

    header nav a {
        margin-left: 0px;

    }

    .conteiner {
        width: 350px;
    }





}

@media (max-width:767px) {


    html {

        font-size: 40%;
    }

    #nav_links {
        display: none;
    }

    #bt {
        display: none;
    }


    .menu_icon_mobile {

        display: block;

    }

    .menu_icon_mobile button {

        background-color: gray;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-left: 70%;



    }

    .input-conteiner {

        margin-left: 10%;
    }

    main {

        margin-top: 40%;
        display: flex;
        flex-direction: column;

    }

    .conteiner {
        margin-top: 20%;
        margin-left: 60%;
        width: 300px;
    }

    .conteiner button {
        width: 190px;
        height: 42px;

    }

}