@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

header{
    height: 74px;
    display:flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    
}

header nav a{
   
    text-decoration: none;
    color:#6A6A7C;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
    
}

nav a:hover {

    text-decoration: underline 3px #7469AB;

}
nav{

    margin-top: 30px;

}
div button{

    margin-right:20px;
}
.logo{
   
    font-weight: 900;
    font-size: 30px;
    margin-top: 20px;
    
    
}

input{
  
    outline:0;
    background: none;
    border-style: none;
    position: relative;
    top: 3px;
    left:25px;
}
label{
    position: relative;
    top: 7px;
    left:20px;
}
.input-conteiner{

    background-color:#D6D6D6;
    border-radius: 20px;
    margin-top: 27px;
    height: 30px;
    width: 397px;
}


#b1{
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
padding:6px 29px 6px 29px;
border-radius: 30px;
border-style: none;
cursor: pointer;
background-color: #7469AB;
color:white;

}

#bt{

    margin-top: 26px;


}
#b2{
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    padding:6px 29px 6px 29px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    background-color: #252525;
    color:white;
    
    }


    /*------------------------------------------------------------------------------------------*/
    body{

        background-image: url(fundo.png);
        background-repeat: no-repeat;
        background: cover;
        background-size:100%;

    }
    main{
       
        margin-top: 10%;
        display: flex;
        justify-content: space-around;
    }

    main h1{
        
        font-weight: 700;
        font-size: 50px;
        color:white;
        margin-top: 10%;
    }

    main p{

        font-weight: 400;
      font-size: 30px;

    }

    
    main p span{

    color:#7469AB;

    }

.conteiner{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 30px;
}

.conteiner button{

    width: 196px;
    height: 42px;
    background-color: #252525;
border: 1px solid #000000;
border-radius: 50px;
color:white;
font-size: 18px;
cursor: pointer;


}