@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap%27');

/* Primeira etapa */
html {
    font-size: 62.5%;

}
a{
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url('./images/background.png');
    background-size: cover;
}

header img {
    margin: 2%;

    width: 131px;
    height: 52.66px;

    cursor: pointer;
}

.body {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.main_text {
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    line-height: 37px;

    color: #7469AB;

}

.content_box {
    display: flex;

    flex-direction: row;
}

.body .content_box {
    margin-top: 100px;

    width: 903px;
    height: 479px;

    background: #FFFFFF;
    border-radius: 30px;

    display: flex;
    flex-direction: row;
}

.content_box .passo {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 30px;

    color: #7469AB;

}

input:focus {
    outline: none !important;
}

.button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 224px;
    background: #7469AB;
    border-radius: 15px;
    cursor: pointer;
}

.proxima_etapa {
    font-style: normal;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 30px;

    color: #F5F5F5;

}


/* primeira etapa */

.checkbox_main {
    display: flex;

    margin-top: 15px;
    margin-right: 185px;

    gap: 20px;
    align-items: center;
}

.checkbox_input {

    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;

    color: #252525;

}

.first_line {
    display: flex;

    flex-direction: column;

    margin-top: 50px;
    margin-left: 50px;

    gap: 25px;
}

.first_line .nome {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;


}

.first_line .nome1 {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;


}

.first_line .nome2 {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;


}

.nome_e_caixa {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
    flex-wrap: wrap;
}

.insere {
    padding: 10px;
    font-size: 2.0rem;

    width: 348px;
    height: 50px;

    border: 1px solid #7469AB;
    border-radius: 15px;
}

.insere1 {
    padding: 10px;
    font-size: 2.0rem;

    width: 348px;
    height: 50px;

    border: 1px solid #7469AB;
    border-radius: 15px;
}

input:focus {
    outline: none !important;
}

/* segunda etapa*/



.container_imagens {
    display: flex;

    gap: 40px;
    margin-top: 5%;


    flex-wrap: wrap;

    height: 200px;
}



.container_imagens img {
    border-radius: 20px;

    width: 154px;
    height: 162px;

    cursor: pointer;
}

/* Personalização de perfil */
.left_content_container {

    margin-left: 75px;
    margin-top: 40px;

    width: 310px;
    height: 400px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    border-right: 1px solid #7469AB;

    gap: 30px;
}

.escolha_foto {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;

    color: #252525;
}

.foto {
    width: 224px;
    height: 211px;

    border: 1px solid #7469AB;
    border-radius: 20px;

    cursor: pointer;
}

.foto_texto {
    display: flex;
    flex-direction: row;

    align-items: center;

    gap: 20px;

    font-size: 1.5rem;
}

.escolha_uma_foto {
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.button1 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 118px;
    margin-left: 10px;

    height: 60px;
    width: 348px;

    background: #7469AB;
    border-radius: 15px;
    cursor: pointer;
}

.foto_texto1 {
    display: none;
}

.insere_nome {
    display: none;
}

@media (max-width:768px) {
    html {
        font-size: 60%;
    }

    header img {

        width: 131px;
        height: 52.66px;

        cursor: pointer;
    }

    body {
        background-image: none;
        background-color: #252525;

        text-align: center;
    }

    .body .content_box {
        margin-top: 100px;

        width: 650px;
        height: 483px;

        background: #FFFFFF;
        border-radius: 30px;

        display: flex;
    }

    .content_box .passo {
        margin-top: 5%;
        color: #7469AB
    }

    .content_container {
        display: flex;

        overflow: scroll;
        overflow-x: hidden;


        width: 600px;
        height: 400px;

        gap: 60px;
    }

    .button {
        margin-top: 25px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 200px;
        height: 60px;


        background: #7469AB;
        border-radius: 15px;

        cursor: pointer;
    }

    .button1 {
        display: flex;
        margin-top: 0px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 200px;
        height: 60px;
        margin-left: 10px;

        cursor: pointer;
    }

    .nome_e_caixa {
        display: flex;
        gap: 10px;

        width: 100px;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .first_line {
        display: flex;

        width: 250px;

        flex-direction: column;

        margin-top: 40px;
        margin-left: 27px;

        gap: 25px;
    }

    .insere {
        padding: 10px;
        font-size: 2.0rem;

        width: 200px;
        height: 50px;

    }

    .insere1 {
        padding: 10px;
        font-size: 2.0rem;

        width: 200px;
        height: 50px;

    }

    .escolha_foto {
        display: flex;

        align-items: center;
    }

    .foto_texto1 {
        display: none;
    }

    .insere_nome {
        display: none;
    }
}

@media (max-width:425px) {
    html {
        font-size: 60%;
    }

    header img {

        width: 131px;
        height: 52.66px;

        cursor: pointer;
    }

    body {
        background-image: none;
        background-color: #252525;

        text-align: center;
    }

    .body .content_box {
        margin-top: 10px;

        width: 370px;
        height: 600px;

        background: #FFFFFF;
        border-radius: 30px;

        display: flex;
        flex-direction: column;

    }

    .content_box .passo {
        margin-top: 5%;
        color: #7469AB
    }

    .content_container {
        display: flex;

        overflow: scroll;
        overflow-x: hidden;


        width: 350px;
        height: 400px;

    }

    .button {
        margin-top: 0px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 224px;
        height: 60px;


        background: #7469AB;
        border-radius: 15px;

        cursor: pointer;
    }

    .left_content_container {

        margin-left: 75px;
        margin-top: 40px;

        width: 310px;
        height: 600px;

        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        border-right: 0px solid #7469AB;

        gap: 30px;
    }

    .checkbox_main {
        display: flex;
        flex-direction: column;

    }

    .first_line {
        display: none;
    }

    .foto_texto1 {

        display: flex;
        flex-direction: row;

        align-items: center;

        margin-top: -2px;
        margin-bottom: 6px;
        gap: 20px;

        font-size: 1.5rem;

    }

    .insere_nome {
        display: flex;

        padding: 10px;
        font-size: 2.0rem;

        margin-top: -15px;

        width: 224px;
        height: 50px;

        border: 1px solid #7469AB;
        border-radius: 15px;
    }

}