@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

html {

    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;

}

.body {
    display: flex;
    width: 100vw;

    flex-direction: row;
}

/* HEADER*/
header {


    background-color: #f5f5f5;
}

.header-pc {
    height: 74px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-pc nav a {

    text-decoration: none;
    color: #6A6A7C;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 20px;

}

nav a:hover {

    text-decoration: underline 3px #7469AB;

}


.logo {
    width: 131px;
    height: 52.66px;
}

#texto {

    outline: 0;
    background: none;
    border-style: none;
    position: relative;
    top: 3px;
    left: 30px;
    width: 80%;

}

.input-conteiner {

    background-color: #D6D6D6;
    border-radius: 20px;
    height: 3rem;
    width: 30rem;

}

.conteiner-bt {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.conteiner-bt img {


    width: 30px;


}

.conteiner-bt a {


    text-decoration: none;
    color: black;
    font-size: 1.2rem;

}

.per {
    display: flex;
    justify-content: center;
    align-items: center;
}



/*-------------------------------header-mobile-------------------------------------*/


.header-mobile {

    display: flex;
    flex-direction: column;

    display: none;

}

/*-------------------------------@media-------------------------------------*/
@media (min-width:768px) and (max-width:1045px) {

    html {
        font-size: 50%;
    }

    .header-pc nav a {
        margin-left: 1px;

    }
}

@media (min-width:763px) and (max-width:803px) {



    .input-conteiner {


        width: 20rem;
    }

}

@media (max-width:767px) {


    html {

        font-size: 40%;
    }

    header {

        padding-bottom: 10px;

    }

    .header-pc {

        display: none;
    }

    .header-mobile {

        display: block;
    }

    .row1 {

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .logo {

        margin-top: 2%;
        margin-left: 5%;
        width: 150px;

    }

    .row2 {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4%;
    }

    #texto {

        width: 80%;
    }

    .input-conteiner {

        width: 70%;
        padding: 10px 0;
    }

    .menu_icon_mobile {

        background-color: gray;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        margin-right: 10%;

    }

    @media (max-width:528px) {

        .header-pc {
            display: none;
        }
    }

}

/* CORPO */
.corpo {
    display: flex;
    flex-direction: row;
}

.left_side {
    display: flex;
    flex-direction: column;

    margin-left: 3.8%;
    width: 900px;


}

input {
    margin-left: 7%;
}

.titulo {
    margin-top: 2%;
    margin-left: 7%;
    padding-bottom: 2%;

    font-style: normal;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 30px;

    color: #252525;

    width: 1500px;

    border-bottom: 0.5px solid #7469AB;

}

.pedidos_esvaziar {

    margin-top: 25px;
    margin-left: 7%;
    margin-bottom: 20px;
}

.pedidos {
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 24px;

    color: #252525;
}

.esvaziar_carrinho {
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 24px;

    color: #7469AB;


    margin-left: 520px;

    cursor: pointer;
}

.itens {
    display: flex;
    margin-left: 7%;

    width: 784px;
    height: 205px;

    border: 0.5px solid #7469AB;
    border-radius: 20px;
    padding-bottom: 22px;
}

.select {
    margin-left: 3%;
    margin-right: -3%;
    margin-top: 11px;

    width: 30px;
    height: 30px;
}

.item_foto {
    margin-top: 22px;
    margin-left: 50px;
    margin-right: 25px;

    width: 200px;
    height: 160px;

    border-radius: 10px;

    object-fit: cover;
}

.item_info {
    display: flex;
    flex-direction: column;
    margin-top: 22px;

    gap: 40px;
}

.item_name {
    width: 200px;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 24px;

    color: #252525;
}

.item_price {
    width: 200px;
    font-weight: 500;
    font-size: 3.0rem;
    line-height: 37px;

    color: #252525;
}

.item_seller {
    width: 200px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 18px;

    color: #7469AB;

}

.quantidade {

    display: flex;
    margin-top: 11%;

}

.menos {
    margin-top: 3px;
    margin-right: 5px;
    font-size: 3rem;

    cursor: pointer;
}

.mais {
    margin-top: 5px;
    margin-left: 5px;
    font-size: 3rem;
    cursor: pointer;
}

.container_quantidade {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 89px;
    height: 48px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    border: 1px solid #000000;
    border-radius: 10px;
}

.lixeira {
    width: 40px;
    height: 40px;

    margin-top: 22px;
    margin-left: 100px;

    cursor: pointer;
}

.container_itens {
    display: flex;
    flex-direction: column;

    height: 450px;

    gap: 20px;

    overflow-y: auto;
}

.container_itens::-webkit-scrollbar {
    display: none;
}

.frete_prazo {
    margin-left: 7%;
    margin-bottom: 20px;
}

.container_frete {
    margin-left: 7%;
    margin-bottom: 2%;

    width: 784px;
    height: 365px;

    border: 0.5px solid #7469AB;
    border-radius: 20px;
    padding-bottom: 22px;
}

.calc_frete_input_b {
    display: flex;
    flex-direction: row;
}

.frete_cep {
    display: flex;
    flex-direction: column;
}

.calc_frete {
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 2px;

    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    line-height: 18px;

    color: #252525;

}

.input_cep {
    margin-top: 15px;
    padding-left: 5px;
    width: 330px;
    height: 50px;

    font-size: 1.5rem;

    border: 1px solid #7469AB;
    border-radius: 15px;
}

#b3 {
    margin-top: 54px;
    margin-left: 75px;

    width: 150px;
    height: 50px;

    background: rgba(116, 105, 171, 0.5);

    border-radius: 15px;

    border-style: none;

    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #7469AB;

}

.container_retira {
    width: 676px;
    height: 86px;

    border: 1px solid #7469AB;
    border-radius: 15px;
}

.container_retira {
    display: flex;
    align-items: center;

    margin-top: 25px;
    margin-left: 25px;
}

.retiravimi {

    margin-left: 20px;

    width: 50px;
    height: 50px;
}

.retira_info {
    display: flex;
    flex-direction: column;

    margin-left: 20px;
    gap: 10px;
}

.metodo {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 18px;

    color: #252525;
}

.metodo_info {
    width: 422px;

    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 12px;

    color: #252525;
    background: rgba(255, 190, 23, 0.5);
}

.metodo_valor {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 12px;

    color: #414141;
}

.check {
    width: 30px;
    height: 30px;
    margin-left: 90px;
}

.check1 {
    width: 30px;
    height: 30px;
    margin-left: 90px;
}

.right_side {
    display: flex;
    flex-direction: column;

    margin-left: 125px;
    gap: 20px;
}

.pedido_titulo {
    margin-top: 25px;
}

.container_pedido {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 537px;
    height: 437px;

    background: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
}

.info_pedido {
    display: flex;
    flex-direction: column;

    width: 438px;
    margin-top: 25px;

    gap: 10px;

    border-bottom: 1px solid #7469AB;
}

.info_itens_linha {
    display: flex;
    flex-direction: row;
}

.info_itens_linha1 {
    display: flex;
    flex-direction: row;
}

.quantidade_produtos {
    width: 277px;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 24px;

    color: rgba(65, 65, 65, 0.8);
}

.preco {

    margin-left: 62px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 24px;

    color: #414141;
}

.valor_total {
    display: flex;
    margin-top: 10px;

    align-items: center;

    gap: 300px;
}

.carrinho {
    width: 38px;
    height: 38px;
}

.valor_total_preco {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #252525;
}

.finalizar_compra {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

#bcompra {
    margin-top: 42px;

    width: 385px;
    height: 59px;

    background: #7469AB;
    border-radius: 15px;

    border-style: none;

    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

#bcontinuar {
    margin-top: 42px;

    width: 385px;
    height: 59px;

    background: rgba(116, 105, 171, 0.2);
    border-radius: 15px;

    border-style: none;

    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #7469AB;
}

.cupom {
    display: flex;
    flex-direction: row;

    width: 537px;
    height: 147px;

    border: 1px solid #7469AB;
    border-radius: 15px;
}

#aplicar_cupom {
    margin-top: 55px;
    margin-left: 50px;

    width: 130px;
    height: 50px;

    background: rgba(116, 105, 171, 0.2);
    border-radius: 15px;

    border-style: none;

    cursor: pointer;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #7469AB;
}